# day 1-by piyush sanam sir

In [2]:
import pandas as pd

In [50]:
movies = pd.read_clipboard()

In [51]:
movies

    ﻿ID                     NAME   INDUSTRY       GENRE     LANG
1     1                 Bahubali  Tollywood      Action    Telgu
2     2                Bollywood  Bollywood  Mystereous    Hindi
3     3  Uri-The Surgical strike  Bollywood      Action    Hindi
4     4                     DDLJ  Bollywood    Romantic    Hindi
5     5        Avengers-End Game  Bollywood   Hollywood  English
6     6                    Tenet  Hollywood       Scifi  English
7     7                    Major  Bollywood      Action    Hindi
8     8             Intersteller  Hollywood       Scifi  English
9     9                  Gravity  Hollywood       Scifi  English
10   10                  Titanic  Bollywood       Drama  English
11   11    YehJawani Hai Deewani  Bollywood    Romantic    Hindi
12   12                 Housefil  Bollywood      Comedy    Hindi
13   13             The Dictator  Hollywood      Comedy  English
14   14                Hera Feri  Bollywood      Comedy    Hindi
15   15                   Sholay  Bollywood       Drama    Hindi

In [32]:
movies=pd.read_csv(r'My Movies.csv')

In [33]:
movies

,ID,NAME,INDUSTRY,GENRE,LANG,DURATION,RATING
0,1,Bahubali,Tollywood,Action,Telgu,170,9.5
1,2,Bollywood,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Bollywood,Hollywood,English,180,9.0
5,6,Tenet,Hollywood,Scifi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,Scifi,English,190,7.0
8,9,Gravity,Hollywood,Scifi,English,130,6.0
9,10,Titanic,Bollywood,Drama,English,180,9.0
10,11,YehJawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefil,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Feri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

##### q-1 find the longest movie name

In [36]:
movies['DURATION'].argmax()

7

In [37]:
movies['NAME'][7]

'Intersteller'

In [38]:
movies['NAME'][movies['DURATION'].argmax()]

'Intersteller'

##### q-2.Number Of Movie who got 10 rating?

In [70]:
movies=pd.read_csv(r'My Movies.csv')

In [71]:
movies

,ID,NAME,INDUSTRY,GENRE,LANG,DURATION,RATING
0,1,Bahubali,Tollywood,Action,Telgu,170,9.5
1,2,Bollywood,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Bollywood,Hollywood,English,180,9.0
5,6,Tenet,Hollywood,Scifi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,Scifi,English,190,7.0
8,9,Gravity,Hollywood,Scifi,English,130,6.0
9,10,Titanic,Bollywood,Drama,English,180,9.0
10,11,YehJawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefil,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Feri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [73]:
movies['RATING']==10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: RATING, dtype: bool

In [74]:
sum(movies['RATING']==10)

2

##### q-3 how many industry are ther?

In [60]:
movies['INDUSTRY'].value_counts()

Bollywood    10
Hollywood     4
Tollywood     1
Name: INDUSTRY, dtype: int64

In [61]:
movies['INDUSTRY'].value_counts().count()

3

In [62]:
len(movies['INDUSTRY'].value_counts())

3

In [63]:
movies['INDUSTRY'].nunique()

3

In [64]:
movies['INDUSTRY'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

#### q-4 find least like comedy movie

In [81]:
movies[movies['GENRE']=='Comedy']['RATING']

11    6.0
12    7.0
13    9.0
Name: RATING, dtype: float64

In [82]:
movies[movies['GENRE']=='Comedy']['RATING'].argmin()

0

In [90]:
movies[movies['GENRE']=='Comedy'][['NAME','RATING']]

            NAME  RATING
11      Housefil     6.0
12  The Dictator     7.0
13     Hera Feri     9.0

In [97]:
movies[movies['GENRE']=='Comedy']['RATING'].idxmin()

11

In [95]:
movies['NAME'][movies[movies['GENRE']=='Comedy']['RATING'].idxmin()]

'Housefil'

In [98]:
movies.columns

Index(['ID', 'NAME', 'INDUSTRY', 'GENRE', 'LANG', 'DURATION', 'RATING'], dtype='object')

##### q-5 longest english movie name

In [99]:
movies['NAME'][movies[movies['LANG']=='English']['DURATION'].idxmax()]

'Intersteller'