# day 1-by piyush sanam sir

In [1]:
import pandas as pd

In [2]:
movies = pd.read_clipboard()

EmptyDataError: No columns to parse from file

In [ ]:
movies

In [137]:
movies=pd.read_csv(r'My Movies.csv',index_col=0)

In [138]:
movies

                       NAME   INDUSTRY       GENRE     LANG  DURATION  RATING
ID
1                  Bahubali  Tollywood      Action    Telgu       170     9.5
2                 Bollywood  Bollywood  Mystereous    Hindi       180     5.0
3   Uri-The Surgical strike  Bollywood      Action    Hindi       120    10.0
4                      DDLJ  Bollywood    Romantic    Hindi       150    10.0
5         Avengers-End Game  Bollywood   Hollywood  English       180     9.0
6                     Tenet  Hollywood       Scifi  English       150     8.5
7                     Major  Bollywood      Action    Hindi       140     8.0
8              Intersteller  Hollywood       Scifi  English       190     7.0
9                   Gravity  Hollywood       Scifi  English       130     6.0
10                  Titanic  Bollywood       Drama  English       180     9.0
11    YehJawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
12                 Housefil  Bollywood      Comedy    Hindi       150     6.0
13             The Dictator  Hollywood      Comedy  English       120     7.0
14                Hera Feri  Bollywood      Comedy    Hindi       140     9.0
15                   Sholay  Bollywood       Drama    Hindi       150     8.5

##### q-1 find the longest movie name

In [139]:
movies['DURATION'].argmax()

7

In [140]:
movies['NAME'][7]

'Major'

In [11]:
movies['NAME'][movies['DURATION'].argmax()]

'Intersteller'

##### q-2.Number Of Movie who got 10 rating?

In [12]:
movies=pd.read_csv(r'My Movies.csv')

In [13]:
movies

,ID,NAME,INDUSTRY,GENRE,LANG,DURATION,RATING
0,1,Bahubali,Tollywood,Action,Telgu,170,9.5
1,2,Bollywood,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Bollywood,Hollywood,English,180,9.0
5,6,Tenet,Hollywood,Scifi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,Scifi,English,190,7.0
8,9,Gravity,Hollywood,Scifi,English,130,6.0
9,10,Titanic,Bollywood,Drama,English,180,9.0
10,11,YehJawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefil,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Feri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [14]:
movies['RATING']==10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: RATING, dtype: bool

In [15]:
sum(movies['RATING']==10)

2

##### q-3 how many industry are ther?

In [16]:
movies['INDUSTRY'].value_counts()

Bollywood    10
Hollywood     4
Tollywood     1
Name: INDUSTRY, dtype: int64

In [17]:
movies['INDUSTRY'].value_counts().count()

3

In [18]:
len(movies['INDUSTRY'].value_counts())

3

In [19]:
movies['INDUSTRY'].nunique()

3

In [20]:
movies['INDUSTRY'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

#### q-4 find least like comedy movie

In [21]:
movies[movies['GENRE']=='Comedy']['RATING']

11    6.0
12    7.0
13    9.0
Name: RATING, dtype: float64

In [22]:
movies[movies['GENRE']=='Comedy']['RATING'].argmin()

0

In [23]:
movies[movies['GENRE']=='Comedy'][['NAME','RATING']]

            NAME  RATING
11      Housefil     6.0
12  The Dictator     7.0
13     Hera Feri     9.0

In [24]:
movies[movies['GENRE']=='Comedy']['RATING'].idxmin()

11

In [25]:
movies['NAME'][movies[movies['GENRE']=='Comedy']['RATING'].idxmin()]

'Housefil'

In [26]:
movies.columns

Index(['ID', 'NAME', 'INDUSTRY', 'GENRE', 'LANG', 'DURATION', 'RATING'], dtype='object')

##### q-5 longest english movie name

In [27]:
movies['NAME'][movies[movies['LANG']=='English']['DURATION'].idxmax()]

'Intersteller'

# DAY-11

#### q-6--what is the genre of intersteller

In [28]:
movies['GENRE'][movies['NAME']=='Intersteller']

7    Scifi
Name: GENRE, dtype: object

In [29]:
movies['GENRE'][movies['NAME']=='Intersteller'].values[0]

'Scifi'

In [30]:
movies['DURATION']

0     170
1     180
2     120
3     150
4     180
5     150
6     140
7     190
8     130
9     180
10    150
11    150
12    120
13    140
14    150
Name: DURATION, dtype: int64

In [31]:
movies['NAME']

0                    Bahubali
1                   Bollywood
2     Uri-The Surgical strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      YehJawani Hai Deewani
11                   Housefil
12               The Dictator
13                  Hera Feri
14                     Sholay
Name: NAME, dtype: object

In [32]:
'hello'.upper()

'HELLO'

In [33]:
'hello'.split('e')

['h', 'llo']

In [34]:
movies['NAME'].str.lower()

0                    bahubali
1                   bollywood
2     uri-the surgical strike
3                        ddlj
4           avengers-end game
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yehjawani hai deewani
11                   housefil
12               the dictator
13                  hera feri
14                     sholay
Name: NAME, dtype: object

In [35]:
movies['GENRE'][movies['NAME'].str.lower()=='Intersteller'.lower()].values[0]

'Scifi'

In [49]:
names=movies['NAME']

In [77]:
names.values

array(['Bahubali', 'Bollywood', 'Uri-The Surgical strike', 'DDLJ',
       'Avengers-End Game', 'Tenet', 'Major', 'Intersteller', 'Gravity',
       'Titanic', 'YehJawani Hai Deewani', 'Housefil', 'The Dictator',
       'Hera Feri', 'Sholay'], dtype=object)

In [50]:
names.to_list

<bound method IndexOpsMixin.tolist of 0                    Bahubali
1                   Bollywood
2     Uri-The Surgical strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      YehJawani Hai Deewani
11                   Housefil
12               The Dictator
13                  Hera Feri
14                     Sholay
Name: NAME, dtype: object>

In [51]:
names.str.endswith('i')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14    False
Name: NAME, dtype: bool

In [53]:
names.str.find('e')

0    -1
1    -1
2     6
3    -1
4     2
5     1
6    -1
7     3
8    -1
9    -1
10    1
11    4
12    2
13    1
14   -1
Name: NAME, dtype: int64

In [55]:
names.str.get(-1)

0     i
1     d
2     e
3     J
4     e
5     t
6     r
7     r
8     y
9     c
10    i
11    l
12    r
13    i
14    y
Name: NAME, dtype: object

In [56]:
names.str.get(2:)

SyntaxError: invalid syntax (3285853819.py, line 1)

In [57]:
names.str.get(-1)

SyntaxError: invalid syntax (1486404815.py, line 1)

In [59]:
names.str.get_dummies()

,Avengers-End Game,Bahubali,Bollywood,DDLJ,Gravity,Hera Feri,Housefil,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,Uri-The Surgical strike,YehJawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [60]:
movies['GENRE'].str.get_dummies()

    Action  Comedy  Drama  Hollywood  Mystereous  Romantic  Scifi
0        1       0      0          0           0         0      0
1        0       0      0          0           1         0      0
2        1       0      0          0           0         0      0
3        0       0      0          0           0         1      0
4        0       0      0          1           0         0      0
5        0       0      0          0           0         0      1
6        1       0      0          0           0         0      0
7        0       0      0          0           0         0      1
8        0       0      0          0           0         0      1
9        0       0      1          0           0         0      0
10       0       0      0          0           0         1      0
11       0       1      0          0           0         0      0
12       0       1      0          0           0         0      0
13       0       1      0          0           0         0      0
14       0       0      1          0           0         0      0

In [67]:
# names.str.index()

In [70]:
names.str.split('e').str.join('-----')

0                              Bahubali
1                             Bollywood
2       Uri-Th----- Surgical strik-----
3                                  DDLJ
4         Av-----ng-----rs-End Gam-----
5                         T-----n-----t
6                                 Major
7              Int-----rst-----ll-----r
8                               Gravity
9                               Titanic
10    Y-----hJawani Hai D----------wani
11                         Hous-----fil
12                     Th----- Dictator
13                    H-----ra F-----ri
14                               Sholay
Name: NAME, dtype: object

In [68]:
names.str.join('.')

0                                   B.a.h.u.b.a.l.i
1                                 B.o.l.l.y.w.o.o.d
2     U.r.i.-.T.h.e. .S.u.r.g.i.c.a.l. .s.t.r.i.k.e
3                                           D.D.L.J
4                 A.v.e.n.g.e.r.s.-.E.n.d. .G.a.m.e
5                                         T.e.n.e.t
6                                         M.a.j.o.r
7                           I.n.t.e.r.s.t.e.l.l.e.r
8                                     G.r.a.v.i.t.y
9                                     T.i.t.a.n.i.c
10        Y.e.h.J.a.w.a.n.i. .H.a.i. .D.e.e.w.a.n.i
11                                  H.o.u.s.e.f.i.l
12                          T.h.e. .D.i.c.t.a.t.o.r
13                                H.e.r.a. .F.e.r.i
14                                      S.h.o.l.a.y
Name: NAME, dtype: object

In [71]:
names.str.lower()

0                    bahubali
1                   bollywood
2     uri-the surgical strike
3                        ddlj
4           avengers-end game
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yehjawani hai deewani
11                   housefil
12               the dictator
13                  hera feri
14                     sholay
Name: NAME, dtype: object

In [72]:
names.str.upper()

0                    BAHUBALI
1                   BOLLYWOOD
2     URI-THE SURGICAL STRIKE
3                        DDLJ
4           AVENGERS-END GAME
5                       TENET
6                       MAJOR
7                INTERSTELLER
8                     GRAVITY
9                     TITANIC
10      YEHJAWANI HAI DEEWANI
11                   HOUSEFIL
12               THE DICTATOR
13                  HERA FERI
14                     SHOLAY
Name: NAME, dtype: object

In [74]:
names.str.strip() #it remove the starting and ending space

0                    Bahubali
1                   Bollywood
2     Uri-The Surgical strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      YehJawani Hai Deewani
11                   Housefil
12               The Dictator
13                  Hera Feri
14                     Sholay
Name: NAME, dtype: object

In [80]:
ies['GENRE'][movies['NAME'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

NameError: name 'ies' is not defined

#### q-7 what is the avg duration of each genre

In [84]:
movies['GENRE'].unique()

array(['Action', 'Mystereous', 'Romantic', 'Hollywood', 'Scifi', 'Drama',
       'Comedy'], dtype=object)

In [85]:
movies['GENRE'].nunique()

7

In [89]:
movies['GENRE'].value_counts()

Action        3
Scifi         3
Comedy        3
Romantic      2
Drama         2
Mystereous    1
Hollywood     1
Name: GENRE, dtype: int64

In [90]:
for GENRE in movies['GENRE'].unique():
    print(GENRE)

Action
Mystereous
Romantic
Hollywood
Scifi
Drama
Comedy

In [96]:
for GENRE in movies['GENRE'].unique():
    movies[movies['GENRE']==GENRE]['DURATION'].mean()

In [95]:
for GENRE in movies['GENRE'].unique():
    print(GENRE,movies[movies['GENRE']==GENRE]['DURATION'].mean())

Action 143.33333333333334
Mystereous 180.0
Romantic 150.0
Hollywood 180.0
Scifi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [97]:
movies.groupby('GENRE')['DURATION'].mean()

GENRE
Action        143.333333
Comedy        136.666667
Drama         165.000000
Hollywood     180.000000
Mystereous    180.000000
Romantic      150.000000
Scifi         156.666667
Name: DURATION, dtype: float64

In [101]:
movies.groupby(['GENRE','INDUSTRY'])['DURATION'].mean()

GENRE       INDUSTRY
Action      Bollywood    130.000000
            Tollywood    170.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    165.000000
Hollywood   Bollywood    180.000000
Mystereous  Bollywood    180.000000
Romantic    Bollywood    150.000000
Scifi       Hollywood    156.666667
Name: DURATION, dtype: float64

In [102]:
movies.groupby(['INDUSTRY','GENRE'])['DURATION'].mean()

INDUSTRY   GENRE
Bollywood  Action        130.000000
           Comedy        145.000000
           Drama         165.000000
           Hollywood     180.000000
           Mystereous    180.000000
           Romantic      150.000000
Hollywood  Comedy        120.000000
           Scifi         156.666667
Tollywood  Action        170.000000
Name: DURATION, dtype: float64

In [103]:
movies.describe()

              ID    DURATION     RATING
count  15.000000   15.000000  15.000000
mean    8.000000  153.333333   7.833333
std     4.472136   22.253946   1.718249
min     1.000000  120.000000   5.000000
25%     4.500000  140.000000   6.500000
50%     8.000000  150.000000   8.500000
75%    11.500000  175.000000   9.000000
max    15.000000  190.000000  10.000000

In [105]:
movies.drop('ID',axis=1)

                       NAME   INDUSTRY       GENRE     LANG  DURATION  RATING
0                  Bahubali  Tollywood      Action    Telgu       170     9.5
1                 Bollywood  Bollywood  Mystereous    Hindi       180     5.0
2   Uri-The Surgical strike  Bollywood      Action    Hindi       120    10.0
3                      DDLJ  Bollywood    Romantic    Hindi       150    10.0
4         Avengers-End Game  Bollywood   Hollywood  English       180     9.0
5                     Tenet  Hollywood       Scifi  English       150     8.5
6                     Major  Bollywood      Action    Hindi       140     8.0
7              Intersteller  Hollywood       Scifi  English       190     7.0
8                   Gravity  Hollywood       Scifi  English       130     6.0
9                   Titanic  Bollywood       Drama  English       180     9.0
10    YehJawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
11                 Housefil  Bollywood      Comedy    Hindi       150     6.0
12             The Dictator  Hollywood      Comedy  English       120     7.0
13                Hera Feri  Bollywood      Comedy    Hindi       140     9.0
14                   Sholay  Bollywood       Drama    Hindi       150     8.5

In [109]:
movies.head()

                      NAME   INDUSTRY       GENRE     LANG  DURATION  RATING
0                 Bahubali  Tollywood      Action    Telgu       170     9.5
1                Bollywood  Bollywood  Mystereous    Hindi       180     5.0
2  Uri-The Surgical strike  Bollywood      Action    Hindi       120    10.0
3                     DDLJ  Bollywood    Romantic    Hindi       150    10.0
4        Avengers-End Game  Bollywood   Hollywood  English       180     9.0

In [122]:
# movies.drop('ID',axis=1,inplace=True)

In [111]:
movies

                       NAME   INDUSTRY       GENRE     LANG  DURATION  RATING
0                  Bahubali  Tollywood      Action    Telgu       170     9.5
1                 Bollywood  Bollywood  Mystereous    Hindi       180     5.0
2   Uri-The Surgical strike  Bollywood      Action    Hindi       120    10.0
3                      DDLJ  Bollywood    Romantic    Hindi       150    10.0
4         Avengers-End Game  Bollywood   Hollywood  English       180     9.0
5                     Tenet  Hollywood       Scifi  English       150     8.5
6                     Major  Bollywood      Action    Hindi       140     8.0
7              Intersteller  Hollywood       Scifi  English       190     7.0
8                   Gravity  Hollywood       Scifi  English       130     6.0
9                   Titanic  Bollywood       Drama  English       180     9.0
10    YehJawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
11                 Housefil  Bollywood      Comedy    Hindi       150     6.0
12             The Dictator  Hollywood      Comedy  English       120     7.0
13                Hera Feri  Bollywood      Comedy    Hindi       140     9.0
14                   Sholay  Bollywood       Drama    Hindi       150     8.5

In [117]:
movies.sample(3)

                       NAME   INDUSTRY       GENRE   LANG  DURATION  RATING
ID
2                 Bollywood  Bollywood  Mystereous  Hindi       180     5.0
12                 Housefil  Bollywood      Comedy  Hindi       150     6.0
3   Uri-The Surgical strike  Bollywood      Action  Hindi       120    10.0

In [118]:
movies.describe()

         DURATION     RATING
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [120]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      15 non-null     object
 1   INDUSTRY  15 non-null     object
 2   GENRE     15 non-null     object
 3   LANG      15 non-null     object
 4   DURATION  15 non-null     int64
 5   RATING    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [119]:
movies.describe(include='all')

            NAME   INDUSTRY   GENRE   LANG    DURATION     RATING
count         15         15      15     15   15.000000  15.000000
unique        15          3       7      3         NaN        NaN
top     Bahubali  Bollywood  Action  Hindi         NaN        NaN
freq           1         10       3      8         NaN        NaN
mean         NaN        NaN     NaN    NaN  153.333333   7.833333
std          NaN        NaN     NaN    NaN   22.253946   1.718249
min          NaN        NaN     NaN    NaN  120.000000   5.000000
25%          NaN        NaN     NaN    NaN  140.000000   6.500000
50%          NaN        NaN     NaN    NaN  150.000000   8.500000
75%          NaN        NaN     NaN    NaN  175.000000   9.000000
max          NaN        NaN     NaN    NaN  190.000000  10.000000

In [124]:
movies.groupby('INDUSTRY').describe().T

INDUSTRY         Bollywood   Hollywood  Tollywood
DURATION count   10.000000    4.000000        1.0
         mean   154.000000  147.500000      170.0
         std     20.110804   30.956959        NaN
         min    120.000000  120.000000      170.0
         25%    142.500000  127.500000      170.0
         50%    150.000000  140.000000      170.0
         75%    172.500000  160.000000      170.0
         max    180.000000  190.000000      170.0
RATING   count   10.000000    4.000000        1.0
         mean     7.950000    7.125000        9.5
         std      1.921371    1.030776        NaN
         min      5.000000    6.000000        9.5
         25%      6.500000    6.750000        9.5
         50%      8.750000    7.000000        9.5
         75%      9.000000    7.375000        9.5
         max     10.000000    8.500000        9.5

In [143]:
movies.groupby(['INDUSTRY','GENRE']).describe().T

INDUSTRY         Bollywood                                               \
GENRE               Action      Comedy       Drama Hollywood Mystereous
DURATION count    2.000000    2.000000    2.000000       1.0        1.0
         mean   130.000000  145.000000  165.000000     180.0      180.0
         std     14.142136    7.071068   21.213203       NaN        NaN
         min    120.000000  140.000000  150.000000     180.0      180.0
         25%    125.000000  142.500000  157.500000     180.0      180.0
         50%    130.000000  145.000000  165.000000     180.0      180.0
         75%    135.000000  147.500000  172.500000     180.0      180.0
         max    140.000000  150.000000  180.000000     180.0      180.0
RATING   count    2.000000    2.000000    2.000000       1.0        1.0
         mean     9.000000    7.500000    8.750000       9.0        5.0
         std      1.414214    2.121320    0.353553       NaN        NaN
         min      8.000000    6.000000    8.500000       9.0        5.0
         25%      8.500000    6.750000    8.625000       9.0        5.0
         50%      9.000000    7.500000    8.750000       9.0        5.0
         75%      9.500000    8.250000    8.875000       9.0        5.0
         max     10.000000    9.000000    9.000000       9.0        5.0

INDUSTRY                   Hollywood             Tollywood
GENRE             Romantic    Comedy       Scifi    Action
DURATION count    2.000000       1.0    3.000000       1.0
         mean   150.000000     120.0  156.666667     170.0
         std      0.000000       NaN   30.550505       NaN
         min    150.000000     120.0  130.000000     170.0
         25%    150.000000     120.0  140.000000     170.0
         50%    150.000000     120.0  150.000000     170.0
         75%    150.000000     120.0  170.000000     170.0
         max    150.000000     120.0  190.000000     170.0
RATING   count    2.000000       1.0    3.000000       1.0
         mean     7.500000       7.0    7.166667       9.5
         std      3.535534       NaN    1.258306       NaN
         min      5.000000       7.0    6.000000       9.5
         25%      6.250000       7.0    6.500000       9.5
         50%      7.500000       7.0    7.000000       9.5
         75%      8.750000       7.0    7.750000       9.5
         max     10.000000       7.0    8.500000       9.5

#### q-8 average rating each industry

In [144]:
movies.groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
Bollywood    7.950
Hollywood    7.125
Tollywood    9.500
Name: RATING, dtype: float64

#### q-9---average rating of romantic movies industry wise

In [2]:
movies[movies['GENRE'].str.lower()=='Romantic'].groupby('INDUSTRY')['RATING'].mean()

NameError: name 'movies' is not defined

In [ ]:
### q-10---list

In [150]:
movies[movies['LANG'].str.lower()=='English'][['NAME','RATING']]

Empty DataFrame
Columns: [NAME, RATING]
Index: []

In [141]:
movies[movies['LANG'].str.lower()=='English'][['NAME','RATING']].sort_values(by='RATING',ascending=False)

Empty DataFrame
Columns: [NAME, RATING]
Index: []